# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Speak text'
      'command': 'atom-tts:speak'
    }
  ]
# Do we need this?
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-tts'
      'submenu': [
        {
          'label': 'Speak text'
          'command': 'atom-tts:speak'
        }
      ]
    ]
  }
]
